@page "/average"

<h1>Average Calculator</h1>

<p><input @bind="input1" /> Current value: @input1</p>
<p><input @bind="input2" /> Current value: @input2</p>
<p><input @bind="input3" /> Current value: @input3</p>
<iframe width="724" height="724"
    src="https://www.chess.com/dynboard?fen=2b2rk1/p1pnn1pp/5p2/qBp5/4QN2/1RN5/P4PPP/5RK1%20b%20-%20-%206%2021&board=green&piece=neo&size=3"
    style="transform:scale(0.35);-webkit-transform:scale(0.35);-moz-transform:scale(0.35);border:1px solid black;">
</iframe>
@{
    var list = new List<int> { input1, input2, input3 };
}

<p>Average of numbers: @average</p>

<button class=" btn btn-primary" @onclick="() => CalculateAverage(list)">Calculate avg</button>




@code {
    private float average = 0;
    private static int input1;
    private static int input2;
    private static int input3;

    private void CalculateAverage(List<int> numbers)
    {
        var total = 0.0f;
        foreach (int number in numbers)
        {
            total += number;
        }

        average = total / numbers.Count;
    }
}
