@page "/chess"

@inject IChessDataService ChessDataService

<h1>Chess data</h1>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="customTiny">
        <tbody>
            @foreach (var game in games)
            {
                <table class="customTiny">
                    <tr>
                        <td>Turn: @game.Turn</td>
                    </tr>
                    <tr>
                        <td>White player URL: @game.White.Url</td>
                    </tr>
                    <tr>
                        <td>Black player URL: @game.Black.Url</td>
                    </tr>
                    <img src="https://www.chess.com/dynboard?fen={@game.Fen}board=green&piece=neo&size=3"
                        style="border:1px solid black; width: 300px; height: 300px;" />
                </table>
            }
        </tbody>
    </table>
}


@code {
    private static List<Data.ChessData> games;

    private string username = "tinysibs";

    protected override async Task OnInitializedAsync()
    {
        games = await ChessDataService.GetResponse(username);

    }
}
